<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>MP2-EmployeeSalesCalculator</display-name>
  <welcome-file-list>
    <welcome-file>userinput.html</welcome-file>
  </welcome-file-list>
  
  <context-param>
		<param-name>ADDITIONAL_SALES_COMMISSION</param-name>
  		<param-value>0.075</param-value>
  </context-param>
  <context-param>
  		<param-name>SALES_CODE_ALPHA_ALIAS</param-name>
  		<param-value>a</param-value>
  </context-param>
  <context-param>
		<param-name>SALES_CODE_ALPHA_PERCENT</param-name>
  		<param-value>0.5</param-value>
  </context-param>
  <context-param>
		<param-name>SALES_CODE_ALPHA_ADDITIONAL</param-name>
  		<param-value>100</param-value>
  </context-param>
  <context-param>
  		<param-name>SALES_CODE_BRAVO_ALIAS</param-name>
  		<param-value>b</param-value>
  </context-param>
  <context-param>
		<param-name>SALES_CODE_BRAVO_PERCENT</param-name>
  		<param-value>0.2</param-value>
  </context-param>
  <context-param>
		<param-name>SALES_CODE_BRAVO_ADDITIONAL</param-name>
  		<param-value>100</param-value>
  </context-param>
  <context-param>
  		<param-name>SALES_CODE_CHARLIE_ALIAS</param-name>
  		<param-value>c</param-value>
  </context-param>
  <context-param>
		<param-name>SALES_CODE_CHARLIE_PERCENT</param-name>
  		<param-value>0.25</param-value>
  </context-param>
  <context-param>
		<param-name>SALES_CODE_CHARLIE_ADDITIONAL</param-name>
  		<param-value>50</param-value>
  </context-param>
  <context-param>
		<param-name>MINIMUM_COMMISSION</param-name>
  		<param-value>2500</param-value>
  </context-param>
  
  <servlet>
  	<servlet-name>SalesCalcServlet</servlet-name>
  	<servlet-class>com.entjav.salescalc.controller.SalesCalcServlet</servlet-class>  
  </servlet>
    <servlet>
  	<servlet-name>DisplayPayrollServlet</servlet-name>
  	<servlet-class>com.entjav.salescalc.view.DisplayPayrollServlet</servlet-class>  
  </servlet>

  <servlet-mapping>
  	<servlet-name>SalesCalcServlet</servlet-name>
  	<url-pattern>/salescalc</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DisplayPayrollServlet</servlet-name>
  	<url-pattern>/payroll</url-pattern>
  </servlet-mapping>
  
</web-app>